/* Palette black:#1F1C1C  brown:#8A6855  salmon: #F04235  lightblue: #B7E3E4   sheetmetal: #9C9A9A  */
body, html {
  letter-spacing: 1.5px;
  margin: 0;
  padding: 0;
  min-height: 100% !important;
}
footer {
  position: absolute;
  bottom: 0;
}
.main-content {
}

.grid {
  grid-column: 1;
}
.clear {
  clear:both;
}

.App {
  overflow: auto;
  position: relative;
  text-align: center;
  margin:0;
}
.support-container-div {
  position: relative;
  overflow: auto;
  height: 700px;
}
.support-top {
  position: relative;
  top: -20px;
  height: 150px;
  width: 100%;
  background: #fff5fd;
}
#htop {
  padding: 20px 0 0 0;
  margin-left: 5%;
  text-align: left;
}
#h4top {
  margin-left: 5%;
  text-align: left;
  color: gray;
}
.contain {
  background:  white;
  top:50px;
  z-index: 0;
  position: absolute;
  width: 100%;
}
.background {
  position: absolute;
  left:50%;
  top: 100px;
  height: 400px;
  width: 45%;
  border-radius: 0 30px 30px 0;
  box-shadow: 4px 28px 30px 0px #d6ced5;
  /* background: linear-gradient(180deg, white, white); */
}
.background:after{
  z-index: -1;
    content:'';
    background-image: url("support-hero.jpg");
    background-size: cover;
    width:100%;
    height:100%;
    position:absolute;
    border-radius: 0 30px 30px 0;
    top:0;
    left:0;
}

.header {
  z-index: 2;
  opacity: 1;
  margin: -10px 40px;
  text-align: left;
}
.support-header {
  text-align: left;
  margin-left: 40px;
  font-size: 20px;
}
.al-left {
  margin-left: 50px;
  text-align: left;
}
.shf-r {
  margin-left: 102px;
}
.contact-icon {
  margin-right: 30px;
}
.contact-icon2 {
  margin-right: 39px;
}
.support-float {
  z-index: 2;
  border-radius: 30px 0 0 30px;
  background: #B099AC;
  position: absolute;
  left: 5%;
  top: 100px;
  height: 400px;
  width: 45%;
  box-shadow: -12px 28px 30px 0px #d6ced5;
}
.support-float::after {
  content: '';
  background: #B099AC;
  position: absolute;
  right: -15px;
  top: 25px;
  height: 40px;
  transform: rotate(45deg);
  width: 40px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.db-form-header {
  padding-top: 20px;
  font-size: 30px;
  letter-spacing: .3rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

p {
   text-align: center;
   font-weight: 500;
}
input[type=text],input[type=email], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
   font-family: sans-serif;
   font-weight: bold;
}

input[type=submit] {
   background-color: #B7E3E4 ;
   color: #1F1C1C;
   font-weight: bold;
   font-size: 19px;
   padding: 12px 20px;
   border: none;
   border-radius: 200px;
   cursor: pointer;
}
.load {
  width: 70%;
  background-color: #B7E3E4 ;
  color: #1F1C1C;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20;
  font-family:'Montserrat', sans-serif;
  -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.load:hover {
  background-color:rgb(136, 201, 202);
  cursor:pointer;
  margin-top: -5px;
}
input[type=submit]:hover {
   background-color:rgb(136, 201, 202);
}
.container {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
}
body, button, input, .submit {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
 }

 h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
 }
 .form {
   margin: 50px;
   margin-top: 30px;
 }
 .form-header{
   letter-spacing: .1vw;
   font-size: 20px;
   text-align:left;
   color: black;
 }

h1 {
  font-size: 60px;
}

label {
  font-size: 12px;
  display: block;
  color:#1F1C1C;
  text-align:left;
  font-family: 'Montserrat', sans-serif;
}

.mid-page {
  position:relative;
  margin-top: 0px;
  top:250px;
  height: 6px;
  width: 33%;
  background-color: #703E3A;
}

@keyframes midbar {
  from {margin-left: -33%;}
  to {margin-left: 0;}
}
.mid-page-top {
  position:relative;
  margin-top: 30px;

  top:250px;
  height: 6px;
  width: 33%;
  border-radius: 0 10px 0 0;
  background-color: rgb(107,143,157);
  animation-name: midbar;
  animation-duration: 2s;
}
.mid-page-bottom {
  position:relative;
  margin-bottom: 30px;
  margin-top: 0px;
  top:250px;
  height: 6px;
  width: 33%;
  border-radius: 0 0 10px 0;
  background-color: #f03f35;
  animation-name: midbar;
  animation-duration: 2s;
}

table {
  border-collapse: separate;

}


.thank-you-div {

  position: relative;
  justify-content: center;
  align-items: center;
  top: 0;
  left:0;
  right:0;
  width:100%;
  height: 100vh;
  background-color: black ;
}

.thank-you {
  margin: 0px 20% 20% 20%;
  padding: 20% 0 0 0;
  color: #b8d2db;
}


@media (max-width: 1070px) {
  .form-div {
    right: 0;

  }
}


@media (max-width: 801px) {
  .background {
    background-size: auto;
  }
}

.homepage-link {
  position: relative;
  text-decoration: none;
  color: #b8d2db;
  font-size: 1.75rem;
  bottom: 200px;
  padding: 1.6rem 2.2rem;
  border: .2rem solid #b8d2db;
  border-radius: .5rem;
  text-shadow: 0 0 10px #fff;
  box-shadow: 0 0 20px 4px #b8d2db, inset 0 0 20px 4px #b8d2db;

  transition: background-color .3s ease-out;
}
.homepage-link::before {
  content: '';
  pointer-events: none;
  position: absolute;
  background: #b8d2db;
  top: 120%; left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, .35);
  filter: blur(1.5em);
  opacity: .7;
  transition: opacity .3s ease-out;
}

.homepage-link:hover::before {
  opacity: 1;
}

.homepage-link:hover,
.homepage-link:focus {
  background-color: #b8d2db;
  color: black;
  text-shadow: none;
}

.homepage-link::after {
  content: '';
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  box-shadow: 0 0 4em .5em #b8d2db;
  opacity: 0;
  transition: opacity .3s ease-out;
}

.homepage-link:hover::after {
  opacity:1;
}

.brand {
  text-transform: uppercase;
  display: flex;
}

.Nav-containter {
  margin-top: 5px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#Nav-icon {
  margin-top: 10px;
  height: 30px;
}
#founded-watermark {
  font-size: 92px;
  opacity: .9;
  text-transform: uppercase;
  position: absolute;
  right: 350px;
  color: #f1f1f1;
}
.fas, .far {
  font-size: 20px;
  margin-top: 20px;
  color: black;
}
.top-accent-blue {
  position:absolute;
  top: 0;
  left: 0;
  right: 70%;
  height:4px;
  background-color:#325662;
}
.top-accent-red {
  position:absolute;
  top: 0;
  left: 30%;
  right: 50%;
  height:4px;
  background-color:#C2260E;
}
.top-accent-purple {
  position:absolute;
  top: 0;
  left: 50%;
  right: 30%;
  height:4px;
  background-color:#B099AC;
}
.top-accent-green {
  position:absolute;
  top: 0;
  left: 70%;
  right: 20%;
  height:4px;
  background-color:#40B31E;
}
.top-accent-yellow {
  position:absolute;
  top: 0;
  left: 80%;
  right: 0;
  height:4px;
  background-color:#EB851C;
}

#Navbar-bottomline {
  position: absolute;
  top: 68px;
  left:0;
  right: 0;
  height: 1px;
  background-color: black;
}

.admin-container {
  position: relative;
  width: 100vw;
  min-height:100%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;

}

.admin-panel {
  background: #F6F6F6;
  position: relative;
  left: -5.3%;
  width: 400px;
  height: 830px;
  border-right: 1px solid lightgray;
}

.admin-header {
  padding-top: 20px;
  letter-spacing: .2vw;
  font-size: 24px;

}

.admin-panel-item1 {
  position: absolute;
  overflow: hidden;
  top: 100px;
  left: 20px;
  height: 120px;
  width: 340px;
  background-color: white;
}

.item1-accent {
  background-color: #325662;
  width: 38%;
  height: 100%;
}

.admin-panel-item2 {
  position: absolute;
  top: 240px;
  left: 20px;
  height: 120px;
  width: 340px;
  background-color: white;
}

.item2-accent {
  background-color: #C2260E;
  width: 38%;
  height: 100%;
}
.item3-accent {
  background-color: #B099AC;
  width: 38%;
  height: 100%;
}
.item4-accent {
  background-color: #40B31E;
  width: 38%;
  height: 100%;
}
.item5-accent {
  background-color: #EB851C;
  width: 38%;
  height: 100%;
}

.admin-panel-item3 {
  position: absolute;
  top: 380px;
  left: 20px;
  height: 120px;
  width: 340px;
  background-color: white;
}

.admin-panel-item4 {
  position: absolute;
  top: 520px;
  left: 20px;
  height: 120px;
  width: 340px;
  background-color: white;
}

.admin-panel-item5 {
  position: absolute;
  top: 660px;
  left: 20px;
  height: 120px;
  width: 340px;
  background-color: white;
}

.item {
  box-shadow: -12px 28px 30px 0px #E0E0E0;
}

.status-check {
  margin-top: 5px;
}

.item-content {
  position: absolute;
  margin-right: 20%;
  top: 0;
  right: 0;
}

.content-slide {
  left: 45%;
  right: -40px;
}

.panel-icon {
  color: white;
  margin-top: 35px;
  font-size: 50px;
}

.form-inline {
  width: 60vw;
  display: block;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.form-inline label {
  display: inline;
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  display: inline;
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.checkbox-div {}

/* Style the submit button */
/* .form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
} */

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
/* @media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  } */

  /* .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
} */
.db-manager {
  max-width: 64%;
}
.db-form {

  position: relative;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  flex-flow: row wrap;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}

.permissions {
  display: inline;
}
input.username {
  width: 100%;
  margin-bottom: 30px;
}
.form-label {
  margin-right: 95%;
}

.checkbox {
  /* margin: 100px; */
  width: 80px;
}
label.chk-label {
  margin-bottom: 80px;
  margin-right: -20px;
  transform: rotate(-65deg);
}

.create-user-button {
  margin-top: 40px;
}

.db-add {
  margin-left: -18px;
  margin-top:8px;
}

#db-manager-table {
  border-collapse: collapse;
  width: auto;
}

#db-manager-table td, #db-manager-table th {
  border: 1px solid #ddd;
  padding: 8px;
}
#db-manager-table tr {
  transition: background-color .3s;
}
#db-manager-table tr:nth-child(even){
  background-color: #f2f2f2;
  opacity: 1;
}

#db-manager-table tr:hover {background-color: rgb(102, 194, 224, .2)}

#db-manager-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
}

.db-U {
  margin-top: 0;
  color: #EB851C;
  margin-right: 20px;
  transition: color .3s;
}

.db-U:hover {
  color: #bd6d1a;
}

.db-D {
  margin-top: 0;
  color: #C2260E;
  margin-right: 5px;
  transition: color .3s;
}

.db-D:hover {
  color: #8a2516;
}
.dbU-D-th {
  min-width: 150px;
}

.db-check {
  margin: 5px;
}

.hoverButton {
  text-align: right;
  width: 60px;
  height: 60px;
  margin:20px;
  padding: 0px;
  float:left;
	-webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.hoverButton:hover {
  cursor:pointer;
  margin-top: 5px;
}

.add-user {
  position: relative;
  margin: auto;
}
.tbl-inner{
  table-layout: fixed;
  margin: auto 0px auto;
}
.tbl-inner, td, th {
  border-collapse:collapse;
  border:1px solid #777;
}
th {
  padding:20px 7px;
  font-size:15px;
  color:#444;
  background:#66C2E0;
}
td {
  padding:5px 10px;
  height:35px;
}
.tbl-outer {
  overflow-x: scroll;
  overflow-y: scroll;
  max-height: 300px;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  overflow-y: visible;
  padding: 0;
  border:1px solid lightgray;
  box-shadow: 0px 20px 20px 0px #E0E0E0;
}

th, td {
  min-width: 100px;
}


.update-submit {
  border: none;
  margin: 5px;
  font-size: 10px;
  padding: 5px;
  border-radius: 13px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
  background-color: #B7E3E4;
}
.update-submit:hover {
  background-color:rgb(136, 201, 202);
}
.check-div {
  width: 30vw
}
.clear-add-button {
  background-color: #B7E3E4 ;
  color: #1F1C1C;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family:'Montserrat', sans-serif;
  width: 60vw;
  height: 50px;
  position: relative;
  bottom: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 10px 10px 0px #E0E0E0;
  -webkit-transition: box-shadow 0.2s ease-out;
    -moz-transition: box-shadow 0.2s ease-out;
    -o-transition: box-shadow 0.2s ease-out;
}
.clear-add-button:hover {

  position: relative;
  box-shadow: none;
}


  .headcol {
    background-color: #E0F3F9;
    position: sticky;
    left: -1px;
    font: inherit;
    vertical-align: middle;
    box-shadow: inset 0 0 0 1px lightgray;
  }
  .labelcol {
    font-weight: bold;
    color: black !important;
    background-color: white !important;
  }

  @media (max-width: 1337px) {
    .App {
      height: 100vh;
    }

    .contain {
      margin-bottom: -800px;
    }
    .admin-header {
      letter-spacing: 3px;
      position: relative;
      padding-top: 10px;
      font-size: 32px;
    }

    .admin-container {
      width:100%;
      margin-top: 0;
      height: 100%;
      position: relative;
    }
    .admin-panel {
      left: 0;
      position: absolute;
      align-items: center;
      justify-content: center;
      height: 860px;
      width: 100%;
    }
    .db-manager {
      position: absolute;
      right: 15%;
      top:880px;
      height: 800px;
    }
    .admin-panel-item1, .admin-panel-item2,
    .admin-panel-item3, .admin-panel-item4, .admin-panel-item5
      {
      left: 10%;
      width: 80%;
    }

    .item-content {
      width: 20%;
      text-align: center;
      left: 55%;
      right: 15%;
      margin-right: none
    }

    .db-form-header {
      position: relative;
      width: 150%;
      left:-30%;

    }

    .username {
      width: 100%;
    }
    .check-div {
    text-align: left;
     width: 80vw;
    }
    .clear-add-button {
      width: 80vw;
    }
    .form-inline {
      width: 80vw;
    }
    .tbl-outer  {
      position: absolute;
      left: -16%;
      width: 80vw;
    }
  }

  .checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: black;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px black;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px black;
  }
}
