.settings-container {
  background: #EFEFEF;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings-side-bar {
  font-size: 30px;
  color: white;
  position: absolute;
  left: 0;
  background: white;
  width: 25%;
  height: 100vh;
}

.settings-icon-header {
  bottom: 0;
  color: rgb(194,38,15);
  font-size: 40px;
}
.tab-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
}
.profile-tab {
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 120px;
  text-decoration: none;
  color: black;
}
