.settings-container {
  z-index: -2;
  background: #EFEFEF;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings-side-bar {
  font-size: 30px;
  color: white;
  position: absolute;
  left: 0;
  background: white;
  width: 250px;
  height: 100%;
}

.settings-icon-header {
  display: none;
  bottom: 0;
  color: rgb(194,38,15);
  font-size: 40px;
}
.tab-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 100%;
  height: 120vh;
  z-index: 1;
}
.tab {
  letter-spacing: 1px;
  cursor: pointer;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: grey;
  z-index: 2;
  font-size: 15px;
  height: 60px;
  width: 252px;
  left: 0;
  padding-top: 15px;
  border: none;
  background: none;
}
.profile-tab {
  top: 50px;
}
.credentials-tab {
  top: 160px;
}
.permissions-tab {
  top: 280px;
}
.deleteAcct-tab {
  top: 400px;
}
.Profile-Footer {
  position: absolute;
  z-index: 2;
}
