.profile-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  height: 500px;
  width: 800px;
  position: absolute;
  left: 25%;
  top: 50px;
  border-radius: 5px;
  pointer-events: all;
}
.permissions-card-container {
  display: flex;
  justify-content: space-evenly;
  background: white;
  width: 100%;
}
.account-cogs {
  font-size: 52px;
  margin: -100px 0 30px 0;
  color:  rgb(194,38,15);
}
.profile-info {
  border-bottom: 2px solid rgb(194,38,15);
}
.change-password {
  margin-top: 25px;
  letter-spacing: 2px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  background: gray;
  font-size: 18px;
  width: 400px;
  height: 50px;
  cursor: pointer;
  pointer-events: all;
  transition: background .2s ease-out;
}
.change-password:hover {
  background: #325662;
}
.delete-account {
  margin-top: 25px;
  letter-spacing: 2px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  background: #FF3333;
  font-size: 18px;
  width: 400px;
  height: 50px;
  cursor: pointer;
  pointer-events: all;
  transition: background .2s ease-out;
}
.delete-account:hover {
  background: gray;
}
.pw-modal {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: all;
  background: white;
  border: 2px solid #efefef;
  border-radius: 5px;
  box-shadow: 20px 10px 2000px gray;
  position: absolute;
  height: 320px;
  width: 500px;
  top: 200px;
  left: 40%;
}

.modal-close {
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 90px;
  margin: 10px 20px;
  transition: filter .2s ease-out;
}
.modal-submit {
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 180px;
  margin: 10px 20px;
  background: #FF3333;
  color: white;
  transition: filter .2s ease-out;
}
.modal-submit:hover {
  filter:brightness(2);
}
.modal-close:hover {
  filter:brightness(.9);
}
.old-pass {
  border: none;
  height: 30px;
  width: 100%;
  margin: 10px 0;
  border-bottom: 1px solid black;
}
.modal-header {
  margin-bottom: 20px;
}
.modal-submit-pass {
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 180px;
  margin: 10px 20px;
  background: gray;
  color: white;
  transition: filter .2s ease-out;
}
.modal-submit-pass:hover {
  filter:brightness(1.3);
}
