.Footer_c {
  text-transform: uppercase;
  color: black !important;
  font-size: 13px;
  margin-right: 60px;
  margin-top: 60px;
  right: 0;
  position: absolute;
  background-color: transparent;
  border: none
}
#footer-icon {
  height: 30px;
}
.footer_logo {
  position: absolute;
  top: 10px;
  left: 5%;

  text-decoration: none;
  color: black;
  margin: 15px;
  font-weight: bold;
  font-size: 18px;
}

.Footer {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  background-color: lightgray;
  position:relative;
  top: 105vh;
  height: 150px;
  width: 100vw;
}

.Footer_Nav {
  right: 0;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 10px;
  margin: 10px;
  margin-right: 40px;
  margin-left: 10px;
  font-weight: bold;
}

.Footer_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 32px;
  left: 28%;
  top: 30px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 3px 15px 1px darkgray;
  background: white;
  font-size: 15px;
  margin-right: 30px;
  font-weight: bold;
  color: #2C7593;
  width: 150px;
  border: none;
}
.footercolor {
  position: relative;
  bottom:0;
}
  @media (max-width: 1337px) {
    .Footer {
      top: 215vh;
    }
  }
@media only screen and (min-width: 764px) {
    .F1 {
    position: absolute;
    right: 500px;
  }
    .F2 {
    position: absolute;
    right: 300px;
  }
    .F3 {
    position: absolute;
    right: 200px;
  }
    .F4 {
    position: absolute;
    right: 75px;
  }
    .F5 {
    position: absolute;
    right: 0px;
  }
}

@media only screen and (max-width: 764px) {
  .Footer_c {
    position: static;
    margin-left: -10px;
  }
}
