.landing-2 {
  padding: 40px 0;
  background-color: #ebebeb;
}
.landing-header {
  margin: 140px;
}
.landing-database {
  height: 140px;
  margin: -50px 40px 100px 40px;
}
.ohio {
  margin: 0 0 0 20px;
  height: 20px;
}
